{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Menu Item List</h1>
                <a href="{{ path('admin_menu_item_add') }}" class="btn btn-primary mb-2">Create</a>
               <table class="table table-bordered">
                   <tr>
                       <th>Id</th>
                       <th>Item</th>
                       <th>Recipes</th>
                       <th>Parent Menu</th>
                       <th>Status</th>
                       <th>Action</th>
                   </tr>
                   {% for item in pagination %}
                     <tr>
                          <td>{{ item.id }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.recipes }}</td>
                          <td>{{ item.getMenu.getName }}</td>
                          <td>{{ item.status == true?"Active":"In-Active" }}</td>
                          <td>
                            <a href="{{ path('admin_menu_item_edit', {'id': item.id}) }}" class="btn btn-primary">Edit</a>
                            <a href="{{ path('admin_menu_item_delete', {'id': item.id}) }}" class="btn btn-danger">Delete</a>
                          </td>
                        </tr>
                     {% endfor %}
               </table>
            </div>
        </div>
    </div>
{% endblock %}